@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
	/* HIGHLIGHT Inline Cards */
	.highlight {
		display: inline;
		background-repeat: no-repeat;
		transition: all 500ms ease-in-out;
		background-position: left;
		background-size: 0% 100%;
		background-image: linear-gradient(theme('colors.accent'), theme('colors.accent'));
	}
	.highlight:hover {
		background-size: 100% 100%;
	}
	.highlight--active {
		background-size: 100% 100%;
	}
	/* UNDERLINE Titles */
	.animated-underline {
		display: inline;
		background-repeat: no-repeat;
		transition: all 500ms ease-in-out;
		background-position: bottom left;
		background-size: 0 3px;
		background-image: linear-gradient(theme('colors.accent'), theme('colors.accent'));
		padding-bottom: 1px;
	}

	.animated-underline--active {
		background-size: 30px 3px;
	}

	/* EMBED: Youtube */
	.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
	}
	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
    height: 100%;
  }
  
  /* Grayscale images */
  .grayscale {
    filter: grayscale(100%);
    opacity: .7;
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter, opacity;
    transition-duration: 1s;
  }

  .grayscale:hover {
    filter: grayscale(0%);
    opacity: 1;
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter, opacity;
    transition-duration: .5s;
  }



  /* Detail / Summary  */
  /* TODO: make tailwind conform */
  details[open] summary ~ * {
    animation: sweep .2s ease-in-out;
  }

  .cursor-help {
    cursor: help;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; margin-top: 0}
    100%  {opacity: 1; margin-top: 0.25rem}
  }

  details > summary {
    /* list-style: none; */
  }
  details > summary::-webkit-details-marker, details > summary::marker {
    color: theme('colors.gray.300');
    opacity: .3;
    /* display: none; */
  }
  
}

/* FONTS */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-Thin.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-Thin.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-ThinItalic.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-ThinItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-ExtraLight.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-ExtraLight.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-ExtraLightItalic.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-ExtraLightItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-Light.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-Light.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-LightItalic.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-LightItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-Regular.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-Regular.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-Italic.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-Italic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-Medium.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-Medium.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-MediumItalic.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-MediumItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-SemiBold.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-SemiBold.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-SemiBoldItalic.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-SemiBoldItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-Bold.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-Bold.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-BoldItalic.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-BoldItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-ExtraBold.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-ExtraBold.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-ExtraBoldItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-Black.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-Black.woff?v=3.15") format("woff");
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url("assets/fonts/inter/Inter-BlackItalic.woff2?v=3.15") format("woff2"),
		url("assets/fonts/inter/Inter-BlackItalic.woff?v=3.15") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("assets/fonts/inter/Inter-roman.var.woff2?v=3.15") format("woff2");
}
@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: italic;
	font-named-instance: 'Italic';
	src: url("assets/fonts/inter/Inter-italic.var.woff2?v=3.15") format("woff2");
}

/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
	font-family: 'Inter var experimental';
	font-weight: 100 900;
	font-display: swap;
	font-style: oblique 0deg 10deg;
	src: url("assets/fonts/inter/Inter.var.woff2?v=3.15") format("woff2");
}
